<div class="modal" id="modal-register">
    <div class="modal-body">
        <h2>modal-register</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates.
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
            window</button>
    </div>
</div>
<div class="modal" id="modal-login">
    <div class="modal-body">
        <form class="grid gap-5">
            <div>
                <label for="login">Введіть ім'я</label>
                <input id="login" type="text" placeholder="login" class="border border-1">
            </div>
            <div>
                <label for="password">Введіть пароль</label>
                <input id="password" type="text" placeholder="password" class="border border-1">
            </div>
            <button type="button" class="text-red-400 hover:text-red-600">Регістрація</button>
            <div class="flex gap-3">
                <button type="submit" class="px-8 py-3 bg-blue-400 hover:bg-blue-600 cursor-pointer">Ok</button>
                <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="modal-1">
    <div class="modal-body">
        <h2>modal-1</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates.
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
            window</button>
    </div>
</div>
<div class="modal" id="modal-2">
    <div class="modal-body">
        <h2>modal-2</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates.
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
            window</button>
    </div>
</div>

<div class="modal" id="modal-3">
    <div class="modal-body">
        <h2>modal-3</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates.
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
            window</button>
    </div>
</div>
<div class="modal" id="modal-4">
    <div class="modal-body">
        <h2>modal-4</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates.
        <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close
            window</button>
    </div>
</div>


<style>
    .modal {
        position: fixed;
        inset: 0;
        background: 000000ba;
        backdrop-filter: blur(10px);
        z-index: 20;
        display: none;
        align-items: center;
        justify-content: center;

        &.show {
            display: grid;
        }
    }
</style>