<div class="modal">
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum soluta cum neque ad corrupti distinctio
        minus, ex eveniet laudantium sed enim doloremque autem! Ipsam dignissimos est iusto vero inventore. Porro autem
        blanditiis mollitia assumenda dolores, ad maxime asperiores consequatur cupiditate sapiente fugit iure aut
        consequuntur amet modi aspernatur voluptates. Exercitationem libero quisquam maxime obcaecati deserunt, tempora
        cupiditate. Molestias molestiae placeat veritatis, dolor totam nihil, aut adipisci, labore mollitia debitis id!
        Ab, pariatur adipisci doloremque molestiae fugiat id fuga! Voluptatibus itaque pariatur rem vero culpa magnam ex
        ab eveniet amet. Laudantium blanditiis dolorem, provident molestias esse inventore eligendi! Cum, qui! Sed optio
        consequatur, ullam ab nemo excepturi a blanditiis sapiente quia eum vero pariatur eveniet, eius suscipit
        perferendis nam! Qui quidem tenetur, doloremque repellendus libero natus. Aspernatur, aliquam doloribus aliquid
        molestias, soluta id cumque eaque est, fugit et explicabo quaerat velit excepturi commodi exercitationem sequi
        libero cum vel ducimus culpa doloremque beatae ipsam atque ullam. Praesentium voluptates officiis maxime atque
        quas dolor, autem at rem animi tenetur odio illo ullam ipsa necessitatibus voluptatem commodi maiores ex
        molestias deserunt dicta amet magnam? Repellat maiores explicabo rem harum distinctio quas quae animi quaerat
        facilis. At optio aspernatur laborum reprehenderit! Laborum, molestias magnam!
    <button type="button" id="close-window" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer">close window</button>
    </div>
</div>

<style>
    .modal {
        position: fixed;
        inset: 0;
        background: 000000ba;
        backdrop-filter: blur(10px);
        z-index: 20;
        display: none;
        align-items: center;
        justify-content: center;

        &.show {
            display: grid;
        }
    }
</style>